.left-nav-menu {
  margin: auto 10px;

  .menu-main {
    margin-top: 6px !important;

    .active {
      color: #00b3ee !important;
      text-decoration: none !important;
    }

    a, a:active, a:link, a:visited {
      padding: 15px 10px !important;
      color: #262626;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
    }


    a:hover {
      color: #00b3ee !important;
      text-decoration: none;
    }

    img {
      width: 15px;
    }
  }
}

.acc-links {
  margin: 10px auto -10px;

  span {
    position: absolute;
    font-size: 8px;
    padding: 3px 5px;
    top: -25%;
    right: -5%;
    background: #d50000;
    color: #fff;
    border: 2px solid #fff;
    z-index: 99;
    border-radius: 50% !important;
  }

  li:nth-child(2) {
    margin-top: -10px !important;
  }

  .my-acc {
    margin: auto;

    a, a:active, a:link, a:visited {
      font-size: 14px;
      color: #2fcde7;
      padding: 6px 20px;
      font-weight: 400;
      border: 1px solid #2fcde7;
      border-radius: 3px;
      text-align: center;
      text-transform: uppercase;
    }

    a:hover {
      background: #2fcde7 !important;
      color: #fff !important;
      border: 1px solid #2fcde7 !important;
    }
  }
}

.error-page {
  margin: auto;
  padding: 30px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .error-title {
    color: #4b4b4b;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .error-msg {
    margin: 40px auto 60px;
    font-size: 15px;

    a, a:active, a:visited, a:link {
      color: #00b3ee;
      text-decoration: none;
    }

    a:hover {
      color: #4b4b4b;
      text-decoration: underline;
    }
  }
}