.my-acc-resetpass {
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .nav-tabs > li {
    padding-right: 8px;
  }

  .nav-tabs > li > a {
    padding: 7px 35px;
    color: #3b3b3b;
    background: #f4f4f4;
    border: 1px solid #ddd;
  }


  .nav-tabs .active > a {
    color: #00b3ee;
  }

  .nav-tabs .badge, .nav-tabs .active .badge {
    position: relative;
    font-size: 8px;
    padding: 3px 5px;
    top: -45%;
    right: -24%;
    background: #d46d69;
    color: #fff;
    border: 2px solid #fff;
    z-index: 99;
    border-radius: 50% !important;
  }

  .widget .tabdiv .tab-content .widget .active div.tab-content {
     div.info-container,  div.row-title,
     div.how-it-work_title,  div.how-it-work_content {
      position: relative;
      display: block;
      background: #f1f1f1;
      width: auto;
      margin: 15px auto;
      padding: 25px 0;
      color: #3b3b3b;

      span {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        padding: 4px;
      }

      p {
        font-size: 15px;
      }

      .submenu-generator {
        margin: 30px auto 5px;

        input {
          width: 40%;
          background: #fff;
          padding: 7px 15px;
          border: 1px solid #e7e7e7;
          border-radius: 3px;
        }

        a {
          font-size: 16px;
          padding: 5px 20px;
          border-radius: 3px;
          text-align: center;
          text-transform: uppercase;
          background: #2fcde7;
          color: #fff;
          border: 1px solid #2fcde7;
        }

        a:hover {
          text-decoration: none;
          background: #fff;
          color: #2fcde7;
        }
      }
    }

     div.row-title {
      background: none;
      margin: 5px auto 0;
      padding: 0;

      span {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #3b3b3b;
      }
    }

     div.how-it-work_title,  div.how-it-work_content {
      background: none;
      margin: 0 auto;

      ul {
        border: none;
        list-style: none;
      }

      ul > li {
        display: inline-block;
        line-height: 15px;
        width: 30%;
        max-width: 30%;
      }

      ul > li:nth-child(2):before, ul > li:nth-child(3):before {
        position: relative;
        content: " ";
        display: inline-block;
        height: 2px;
        width: 100px;
        background: #e7e7e7;
        margin-left: -200px;
        margin-right: 80px;
      }

      img {
        width: 140px;
      }
    }

     div.how-it-work_content {
      padding: 4px 0;
      float: left;
      text-align: justify;

      p {
        font-size: 14px;
      }

      span {
        font-size: 24px;
        font-weight: 600;
      }
    }

     div.stats-page {
      margin: 20px auto;
      width: 100%;

      .lnk-active, .lnk-active:active, .lnk-active:link, .lnk-active:visited {
        font-size: 16px;
        color: #fff;
        padding: 6px 30px;
        background: #2fcde7;
        border: 1px solid #2fcde7;
        border-radius: 3px 0 0 3px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }

      .lnk-inactive, .lnk-inactive:active, .lnk-inactive:link .lnk-inactive:visited {
        font-size: 16px;
        color: #2fcde7;
        padding: 6px 20px;
        background: #fff;
        border: 1px solid #2fcde7;
        border-radius: 0 3px 3px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }

      .sub-tab {
        margin: 10px auto;
        padding: 15px 0;
        width: 100%;

        div {
          display: none;
        }



        div.active, #daily.active > div, #daily.active > div > div {
          display: block !important;
        }
      }
    }
    /*** banner boxes ***/
    div.banner-box {
      margin: 35px auto 30px;
      border: 1px solid #dedede;
      padding: 0;

      .banner-box_left {
        padding: 65px 20px 65px 65px;

        div {
          max-width: 100%;
          height: 300px;
          background: #2fcde7;
        }
      }

      .small-box div {
          margin: auto;
          width: 350px;
      }

      .small-box > div:nth-child(1) {
        background: #6FBD64;
      }

      .banner-box_right {
        background: #f4f4f4;
        padding: 15px 20px;
        color: #3c3c3c;

        .banner--textarea .html-form {
            position: absolute;
            width: 94.5%;
        }

        .copy-buttons {
          width: 100%;
          margin: 10px auto 10px;
          padding: 0;

          .nav-pills {
            border: 0;
            margin: 0;
            padding: 0;
          }

          li {
            margin: 0;
            width: 50%;
          }
        }

        .copy-buttons > div {
          width: 50%;
        }

        label {
          font-size: 18px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          padding-top: 5px;
          float: left;
        }

        .copy-buttons .lnk-active, .copy-buttons .lnk-active:active, .copy-buttons .lnk-active:link, .copy-buttons .lnk-active:visited {
          font-size: 16px;
          color: #fff;
          padding: 6px 30px;
          background: #6FBD64;
          border: 1px solid #6FBD64;
          border-radius: 3px 0 0 3px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .copy-buttons .lnk-inactive, .copy-buttons .lnk-inactive:active, .copy-buttons .lnk-inactive:link .lnk-inactive:visited {
          font-size: 16px;
          color: #262626;
          padding: 6px 20px;
          background: #fff;
          border: 1px solid #dedede;
          border-radius: 0 3px 3px 0;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .custom-select {
          display: inline-block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: .375rem 1.75rem .375rem .75rem;
          line-height: 1.5;
          color: #495057;
          vertical-align: middle;
          background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
          background-size: 8px 10px;
          border: 1px solid #ced4da;
          border-radius: 2px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:focus {
            border-color: #80bdff;
            outline: 0;
            &::-ms-value {
              color: #495057;
              background-color: #fff;
            }
          }
          &[multiple] {
            height: auto;
            background-image: none;
          }
          &:disabled {
            color: #868e96;
            background-color: #e9ecef;
          }
          &::-ms-expand {
            opacity: 0;
          }
        }

        .export-code {
          margin: auto 0 20px;
          width: 100%;
          height: 270px;
          padding: 25px 30px;
          overflow: hidden;
          font-size: 22px;
          resize: none;
          text-align: left;
          border: 1px solid #dedede;
          border-radius: 3px;
          line-height: 15px;
        }

        .default {
          font-size: 16px;
          color: #fff;
          background: #2fcde7;
          padding: 6px 20px;
          border: 1px solid #2fcde7;
          border-radius: 3px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .tab-content span.menu-title {
    font-size: 20px;
    font-weight: 400;
    color: #262626;
  }

/// Menu-nav main ///
  .widget {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 0;
    background: #fff;
    border: none;
    text-align: left;
  }

  .widget ul {
    border-bottom: 2px solid #dedede;
    padding: 0 0 6px;
    width: 100%;
  }

  .widget a {
    color: #222;
    text-decoration: none;
  }

  .widget a:hover {
    color: #009;
    text-decoration: underline;
  }

  .tabnav li {
    position: relative;
    display: inline;
    list-style: none;
    padding-right: 5px;

    .badge {
      position: absolute;
      font-size: 8px;
      padding: 3px 5px;
      top: -18px;
      right: 1%;
      background: #d46d69;
      color: #fff;
      border: 2px solid #fff;
      z-index: 99;
      border-radius: 50% !important;
    }
  }
/// Widget tab-content's ///
  .widget div.tab-content {
    text-align: center;
  }

  .widget div.tab-content__seperator {
    height: 1px;
    padding: 15px;
  }

  .widget div.tab-content .balances--main__box {
    width: 100%;
    padding: 0;
  }

  .widget div.tab-content .balances--main__box .balances--header .balances--header-left,
  .widget div.tab-content .balances--main__box .balances--header .balances--header-right {
    display: inline-block;
    width: 100%;
    margin: auto;
    vertical-align: middle;
  }

  .widget div.tab-content .balances--main__box .balances--header .balances--header-left {
    text-align: left;
    padding-top: 10px;
    font-size: 14px;
    color: #3b3b3b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .widget div.tab-content .balances--main__box .balances--header .balances--header-right {
    text-align: right;
    padding-top: 5px;

    form {
      margin-top: -6px;
      width: 70%;
    }

    form input[name='search_value'] {
      position: relative;
      width: 100%;
      border: 1px solid #cfcfcf;
      border-radius: 2px;
      padding: 5px 12px 5px 45px;
      background: url('../assets/img/search-main-icon.svg') no-repeat;
      background-position: 3px 0px;
      background-size: contain;
      &::placeholder {
        color: #cdcdcd;
        text-align: center;
      }
      &:focus {
        outline: none;
        border-bottom: 1px solid #2fcde7;
      }
    }
    a, a:active, a:visited, a:link {
      background: #2fcde7;
      color: #fff;
      border: 1px solid #2fcde7;
      border-radius: 3px;
      padding: 6px 30px;
      text-decoration: none;
    }
  }

  .widget div.tab-content .balances--main__box .balances--content {
    width: 100%;
    margin: 30px auto 10px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    padding: 0;
  }

  .widget div.tab-content .balances--main__box .balances--content .balances__table__header {
    background: #f4f4f4;
    padding: 10px 15px 5px;
    color: #3b3b3b;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .widget div.tab-content .balances--main__box .market-main-content {
    padding-right: 15px;
    position: relative;
    margin-top: 10px;
  }

  .widget div.tab-content .balances--main__box .market-main-content table {
    height: 660px;
  }

  .widget div.tab-content .balances--main__box .market-main-content table > thead {
    width: 100%;
  }

  .widget div.tab-content .drawal--history {
    padding-left: 0 !important;
    .lnk-inactive {
      padding: 6px 10px !important;
    }
  }

  .widget div.tab-content .drawal--history .drawal--history__box {
    margin: 15px auto 20px;
    text-align: left !important;
    border: 1px solid #cfcfcf;
    border-radius: 3px;

  }

  .widget div.tab-content .drawal--history .drawal--history__box .box__title {
    padding: 10px 15px;
    background: #f3f3f3;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #3c3c3c;
  }

  .widget div.tab-content .drawal--history .drawal--history__box .box__content {
    padding: 6px 15px;
    height: 500px;
    overflow-y: scroll;
  }

  .widget div.tab-content .drawal--history .drawal--history__box .box__content .row-drawal-history {
    padding: 14px 0;
    color: #808080;
  }

  .widget div.tab-content .drawal--history .drawal--history__box .box__content .row-drawal-history:nth-child(even) {
    background: #f3f3f3;
  }

  .widget div.tab-content .balances--main__box .market-main-content {

    .balance--window {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 80%;
      background-color: #fff;
      border: 1px solid #cfcfcf;
      z-index: 99;
    }

    .window--hidden {
      display: none;
    }

    .window--open {
      display: block;
    }

    .balance--window .close-btn {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 15px;
      font-size: 22px;
      font-stretch: ultra-expanded;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }

    .deposit--window--box .deposit--top {
      position: relative;
    }

    .stu--frame .deposit--body,
    .stu--frame .deposit--body .withdrawal--window {
      padding-top: 0 !important;
    }

    .stu--frame .deposit--body .withdrawal--window .drwl-row:nth-child(2) {
      padding-top: 25px;
    }

    .stu--frame .deposit--body .withdrawal--window .drwl-row:nth-child(3) {
      padding-top: 45px;
    }

    .deposit--window--box .deposit--title {
      padding-top: 30px;
      font-size: 14px;
      color: #3b3b3b;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-align: center;
      line-height: 25px;
    }

    .deposit--window--box .deposit--title .title--desc {
      display: block;
      padding-top: 30px;
    }

    .deposit--window--box .deposit--body {
      padding: 35px 50px 15px;
      text-align: left;
      img {
        width: 110px;
      }

      .qrcode--title {
        padding: 0 40px 55px;
        color: #d7d7d7;
      }

      .qrcode--adress {
        margin: 10px auto;

        .input-group-addon {
          padding: 8px 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          background-color: #f7f7f7;
          cursor: pointer;
        }

        .input-group-addon:first-child {
          cursor: default;
          border-radius: 3px 0 0 3px;
        }

        .input-group-addon:last-child {
          border-radius: 0 3px 3px 0;
        }

        input {
          height: 40px;
          border-right: 0;
        }
      }

      .body__content {
        margin-bottom: 50px;
        vertical-align: top;
        color: #3b3b3b;
      }

      .list-style, .content-style {
        display: inline-block;
        margin-bottom: 45px;
        color: #3b3b3b;
      }

      .list-style span {
        border: 1px solid #2fcde7;
        padding: 5px 12px;
        border-radius: 50%;
        color: #2fcde7;
        font-size: 17px;
      }

    }

    .deposit--window--box .deposit--body .withdrawal--window {
      color: #3c3c3c;
      padding: 10px 0;
      text-align: left;
      font-size: 16px;

      .drwl-row {
        padding: 15px 0 20px;
        vertical-align: middle;
      }

      .drwl-inputs {
        padding: 15px 8px;
        height: auto;
        font-size: 12px;
        color: #5e5e5e;
        border-radius: 3px 0 0 3px;
        &::placeholder {
          padding: 8px;
          color: #cfcfcf;
        }
      }

      .drwl-inputs:last-child {
        border-radius: 3px;
      }

      .drwl-addon {
        border-radius: 0 3px 3px 0;
        cursor: pointer;
      }

      .stu-frame {
        border-left: 0;
        word-spacing: 10px;
        padding: 6px 22px;

        select {
          border: 0;
          background: transparent;
          outline: none;
          cursor: pointer;
        }
      }

      .stu-frame-ddm {
        min-width: 95px;
        width: 95px;
        padding: 5px 0 5px 20px;
      }

      .drwl-form-label {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #3c3c3c;
      }

      .input-label {
       padding-top: 8px !important;
      }

      .default {
        background: #2fcde7;
        color: #fff;
        padding: 8px 40px;
        text-decoration: none;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        border-radius: 3px;
        &:hover {
          text-decoration: none;
        }
      }

      .about-fee {
        font-size: 16px;
        text-decoration: underline;
        padding-top: 8px;
      }

      .drwl-row .input-group, .drwl-row .inputs-row {
        margin-top: -10px;
      }

      .google-auth-tip {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 0;
        color: #cfcfcf;
      }
    }
  }

  .widget div.tab-content .balances--main__box .balances--tooltips {
    font-size: 14px;
    color: #5e5e5e;
    padding-top: 65px;
    text-align: left;
    padding-bottom: 20px;

    img {
      width: 15px;
      padding: 0 2px 2px;
    }
  }

  .widget div.tab-content .balances--main__box .market-main-content table > thead {
    th:nth-child(2) {
      padding-left: 0;
    }

    th:nth-child(3) {
      text-align: center;
      padding-right: 20px;
    }

    th:nth-child(5) {
      padding-left: 20px;
    }

    th:nth-child(6) {
      padding-left: 15px;
    }
  }

  .widget div.tab-content .balances--main__box .market-main-content table > tbody {



    tr {
      width: 99%;
    }

    tr:nth-child(even) {
      background-color: #f4f4f4;
    }

    td:first-child {
      text-align: left;
      text-transform: uppercase;
    }

    td:nth-child(2) {
      text-align: left;
      padding-left: 0;
      font-size: 11px;
      text-transform: capitalize;
    }


    td:nth-child(3) {
      padding-left: 0;
      img {
        padding: 0 2px 2px;
        width: 15px !important;
      }
    }

    td:nth-child(7) {
      padding-right: 0;
      text-align: right;
    }

    td:last-child {
      padding-left: 0;
    }

    td {
      font-size: 13px;
      color: #3b3b3b;
    }

    td img {
      width: 19px;
    }

    td button.balance-btn-deposit, td button.balance-btn-drwl, td button.balance-btn-stu {
      padding: 6px 15px;
    }

    td button.balance-btn-deposit {
      background-color: #2fcde7;
      color: #fff;
      border: 1px solid #2fcde7;
      border-radius: 2px;
      padding-left: 25px;
      padding-right: 25px;
    }

    td button.balance-btn-drwl {
      background-color: #6FBD64;
      color: #fff;
      border: 1px solid #6FBD64;
      border-radius: 2px;
    }

    td button.balance-btn-stu {
      background-color: #fff;
      border: 1px solid #3b3b3b;
      border-radius: 2px;
      color: #3b3b3b;
    }
  }
////////////////////////////
  .tabnav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #262626;
    padding: 7px 35px;
    outline: none;
    background: #f4f4f4;
    border-left: 2px solid #dedede;
    border-top: 2px solid #dedede;
    border-right: 2px solid #dedede;
    border-radius: 3px 3px 0 0;
  }

  .tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
    background: #fff;
    color: #2fcde7;
    text-decoration: none;
    border-left: 2px solid #dedede;
    border-top: 2px solid #dedede;
    border-right: 2px solid #dedede;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid #fff;
  }

  .tabdiv {
    margin-top: 2px;
    background: #fff;
    padding: 5px;
  }

  .tabdiv li {
    margin-left: 20px;
  }

  .ui-tabs-hide {
    display: none;
  }

  #featuredvid {
    text-align: center;
  }

  .fvid {
    margin-bottom: 5px;
  }

  .vidselector li {
    text-align: left;
    list-style: none;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #dedbd1;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
/// End menu main ///

/// Affiliate sub-menu ///
  .widget .allifiate-submenu {
      padding: 15px 0;

      ul {
        list-style: none;
        border-bottom: 2px solid #e7e7e7;
        padding: 4px 100px;

        li {
          display: inline-block;
          width: 33%;

          a {
            color: #3b3b3b !important;
            text-decoration: none !important;
            padding: 5px 40px;
            outline: none !important;
          }

          a:hover, .ui-tabs-active {
            color: #2fcde7 !important;
            text-decoration: none;
            border-bottom: 2px solid #2fcde7 !important;
          }
        }

        .ui-tabs-selected {
          a {
            color: #2fcde7 !important;
            border-bottom: 2px solid #2fcde7 !important;
          }

        }

        li:focus {
          border: 0 !important;
          background: transparent !important;
          outline: none !important;
        }
      }

      div[aria-hidden=true] {
        display: none;
      }


      .active > div.info-container, .active > div.row-title,
      .active > div.how-it-work_title, .active > div.how-it-work_content {
        position: relative;
        display: block;
        background: #f1f1f1;
        width: auto;
        margin: 15px auto;
        padding: 25px 0;
        color: #3b3b3b;

        span {
          font-size: 20px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          padding: 4px;
        }

        p {
          font-size: 15px;
        }

        .submenu-generator {
          margin: 30px auto 5px;

          input {
            width: 40%;
            background: #fff;
            padding: 7px 15px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
          }

          a {
            font-size: 16px;
            padding: 5px 20px;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            background: #2fcde7;
            color: #fff;
            border: 1px solid #2fcde7;
          }

          a:hover {
            text-decoration: none;
            background: #fff;
            color: #2fcde7;
          }
        }
      }

      .active > div.row-title {
        background: none;
        margin: 5px auto 0;
        padding: 0;

        span {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #3b3b3b;
        }
      }

      .active > div.how-it-work_title, .active > div.how-it-work_content {
        background: none;
        margin: 0 auto;

        ul {
          border: none;
        }

        ul > li {
          line-height: 15px;
        }

        ul > li:nth-child(2):before, ul > li:nth-child(3):before {
          position: relative;
          content: " ";
          display: inline-block;
          height: 2px;
          width: 100px;
          background: #e7e7e7;
          margin-left: -110px;
        }

        img {
          width: 140px;
        }
      }

      .active > div.how-it-work_content {
        padding: 4px 0;
        float: left;
        text-align: justify;

        p {
          font-size: 14px;
        }

        span {
          font-size: 24px;
          font-weight: 600;
        }
      }

      .active > div.stats-page ul {
        border: none !important;
      }

      .active > div.stats-page {
        margin: 20px auto;
        width: 100%;

        .lnk-active, .lnk-active:active, .lnk-active:link, .lnk-active:visited {
          font-size: 16px;
          color: #fff;
          padding: 6px 30px;
          background: #2fcde7;
          border: 1px solid #2fcde7;
          border-radius: 3px 0 0 3px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .lnk-inactive, .lnk-inactive:active, .lnk-inactive:link .lnk-inactive:visited {
          font-size: 16px;
          color: #2fcde7;
          padding: 6px 20px;
          background: #fff;
          border: 1px solid #2fcde7;
          border-radius: 0 3px 3px 0;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .sub-tab {
          margin: 10px auto;
          padding: 15px 0;
          width: 100%;

          div {
            display: none;
          }



          div.active, #daily.active > div, #daily.active > div > div {
            display: block !important;
          }
        }
      }
    }
  /// End affiliate sub-menu ///
  .widget .tabdiv .tab-content .widget .active div.tab-content div.stats-page .container > ul {
    border: none;
  }

  /// My account sub-menu ///
  .widget .tabdiv .tab-content {
    .widget {
      width: 100%;
      margin: 0 auto;
      padding: 10px 0;
      background: #fff;
      text-align: center;
    }

    .widget a {
      color: #222;
      text-decoration: none;
    }

    .widget a:hover {
      color: #12a8d6;
      text-decoration: underline;
    }

    .tabnav li.ui-tabs-selected a {
      border: none;
      background: none;
    }

    .tabnav li {
      width: 33%;
      display: inline;
      list-style: none;
      padding-right: 5px;
    }

    .tabnav li a {
      text-decoration: none;
      text-transform: capitalize;
      color: #222;
      padding: 7px 35px;
      outline: none;
      background: none;
      border: none;
    }

    .tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
      background: #fff;
      color: #2fcde7;
      text-decoration: none;
      border-bottom: 2px solid #2fcde7;
    }

    .tabdiv {
      margin-top: 2px;
      background: #fff;
     // border: 1px solid #dedbd1;
      padding: 5px;
    }

    .tabdiv li {
      margin-left: 20px;
    }

    .ui-tabs-hide {
      display: none;
    }

    #featuredvid {
      text-align: center;
    }

    .fvid {
      margin-bottom: 5px;
    }

    .vidselector li {
      text-align: left;
      list-style: none;
      padding: 5px;
      background: #ffffff;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

  }
  /// End my account sub-menu ///

  .tab-content .widget .tab-content {
    .rp-left-col {

      .rp-left_title {
        width: 70%;
        text-align: left;
        padding: 20px 0 25px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #3b3b3b;
        border-bottom: 1px solid #dedede;
      }

      .content-form {
        width: 70%;
        text-align: left;

        .form-label-desc, input {
          width: 100%;
        }

        .form-buttons {
          margin: 20px 0 30px;
        }

        .form-buttons .cancel:hover {
          background: #262626;
          color: #fff;
          border: 1px solid #262626;
          text-decoration: none;
        }

        .form-buttons .signin {
          color: #fff;
          &:hover {
            text-decoration: none;
            color: #2fcde7;
          }
        }
      }
    }

    .rp-right-col {
      margin: 5px auto;

      .rp-banner {
        width: 300px;
        height: 250px;
        background: #e5e5e5;
      }

      span {
        font-size: 22px;
        color: #9d9d9d;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        line-height: 250px;
      }
    }
  }

}

.my-acc-resetpass .widget .tabdiv .tab-content .widget .active div.tab-content div.stats-page div.container ul > li {
  margin-left: 0;

  a, a:active, a:link, a:visited {
    font-size: 16px;
    color: #2fcde7;
    padding: 6px 30px;
    background: #fff;
    border: 1px solid #2fcde7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.my-acc-resetpass .widget .tabdiv .tab-content .widget .active div.tab-content div.stats-page div.container ul > li.active {
  a, a:active, a:link, a:visited {
    font-size: 16px;
    color: #fff;
    padding: 6px 30px;
    background: #2fcde7;
    border: 1px solid #2fcde7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }


}

.ico {
  font-style: normal;
  padding: 0 2px;
  color: #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.ico-checked {
  background: #6FBD64;
}

.ico-tools {
  background: #efac4c;
}

.ico-deliv {
  background: #d46d69;
}
