.my-acc-resetpass {
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .nav-tabs > li {
    padding-right: 8px;
  }

  .nav-tabs > li > a {
    padding: 7px 35px;
    color: #3b3b3b;
    background: #f4f4f4;
    border: 1px solid #ddd;
  }


  .nav-tabs .active > a {
    color: #00b3ee;
  }

  .nav-tabs .badge, .nav-tabs .active .badge {
    position: absolute;
    right: -5%;
    top: -15%;
    padding: 3px 5px;
    font-size: 8px;
    background: #d50000;
    border-color: #fff;
    border-radius: 50%;
  }

  .tab-content {
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;

    .tab-pane {

      .title-text {
        font-size: 22px;
        font-weight: 400;
      }

      .rp-left-col {

        .rp-left_title {
          width: 70%;
          text-align: left;
          padding: 20px 0 25px;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 500;
          color: #3b3b3b;
          border-bottom: 1px solid #dedede;
        }

        .content-form {
          width: 70%;
          text-align: left;

          .form-label-desc, input {
            width: 100%;
          }

          .form-buttons {
            margin: 20px 0 30px;
          }
        }
      }

      .rp-right-col {
        margin: 5px auto;

        .rp-banner {
          width: 300px;
          height: 250px;
          background: #e5e5e5;
        }

        span {
          font-size: 22px;
          color: #9d9d9d;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          line-height: 250px;
        }
      }
    }
  }
}