.my-acc-resetpass {
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  .nav-tabs > li {
    padding-right: 8px;
  }

  .nav-tabs > li > a {
    padding: 7px 35px;
    color: #3b3b3b;
    background: #f4f4f4;
    border: 1px solid #ddd;
  }


  .nav-tabs .active > a {
    color: #00b3ee;
  }

  .nav-tabs .badge, .nav-tabs .active .badge {
    position: absolute;
    right: -5%;
    top: -15%;
    padding: 3px 5px;
    font-size: 8px;
    background: #d50000;
    border-color: #fff;
    border-radius: 50%;
  }

  .tab-content span.menu-title {
    font-size: 20px;
    font-weight: 400;
    color: #262626;
  }
/// Menu-nav main ///
  .widget {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 0;
    background: #fff;
    border: none;
    text-align: left;
  }

  .widget ul {
    border-bottom: 2px solid #dedede;
    padding: 0 0 6px;
    width: 100%;
  }

  .widget a {
    color: #222;
    text-decoration: none;
  }

  .widget a:hover {
    color: #009;
    text-decoration: underline;
  }

  .tabnav li {
    display: inline;
    list-style: none;
    padding-right: 5px;
  }

  .widget div.tab-content {
    text-align: center;
  }

  .tabnav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #262626;
    padding: 7px 35px;
    outline: none;
    background: #f4f4f4;
    border-left: 2px solid #dedede;
    border-top: 2px solid #dedede;
    border-right: 2px solid #dedede;
    border-radius: 3px 3px 0 0;
  }

  .tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
    background: #fff;
    color: #2fcde7;
    text-decoration: none;
    border-left: 2px solid #dedede;
    border-top: 2px solid #dedede;
    border-right: 2px solid #dedede;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid #fff;
  }

  .tabdiv {
    margin-top: 2px;
    background: #fff;
    padding: 5px;
  }

  .tabdiv li {
    margin-left: 20px;
  }

  .ui-tabs-hide {
    display: none;
  }

  #featuredvid {
    text-align: center;
  }

  .fvid {
    margin-bottom: 5px;
  }

  .vidselector li {
    text-align: left;
    list-style: none;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #dedbd1;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
/// End menu main ///

/// Affiliate sub-menu ///
  .widget .allifiate-submenu {
      padding: 15px 0;

      ul {
        list-style: none;
        border-bottom: 2px solid #e7e7e7;
        padding: 4px 100px;

        li {
          display: inline-block;
          width: 33%;

          a {
            color: #3b3b3b !important;
            text-decoration: none !important;
            padding: 5px 40px;
            outline: none !important;
          }

          a:hover, .ui-tabs-active {
            color: #2fcde7 !important;
            text-decoration: none;
            border-bottom: 2px solid #2fcde7 !important;
          }
        }

        .ui-tabs-selected {
          a {
            color: #2fcde7 !important;
            border-bottom: 2px solid #2fcde7 !important;
          }

        }

        li:focus {
          border: 0 !important;
          background: transparent !important;
          outline: none !important;
        }
      }

      div[aria-hidden=true] {
        display: none;
      }


      .active > div.info-container, .active > div.row-title,
      .active > div.how-it-work_title, .active > div.how-it-work_content {
        position: relative;
        display: block;
        background: #f1f1f1;
        width: auto;
        margin: 15px auto;
        padding: 25px 0;
        color: #3b3b3b;

        span {
          font-size: 20px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          padding: 4px;
        }

        p {
          font-size: 15px;
        }

        .submenu-generator {
          margin: 30px auto 5px;

          input {
            width: 40%;
            background: #fff;
            padding: 7px 15px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
          }

          a {
            font-size: 16px;
            padding: 5px 20px;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            background: #2fcde7;
            color: #fff;
            border: 1px solid #2fcde7;
          }

          a:hover {
            text-decoration: none;
            background: #fff;
            color: #2fcde7;
          }
        }
      }

      .active > div.row-title {
        background: none;
        margin: 5px auto 0;
        padding: 0;

        span {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #3b3b3b;
        }
      }

      .active > div.how-it-work_title, .active > div.how-it-work_content {
        background: none;
        margin: 0 auto;

        ul {
          border: none;
        }

        ul > li {
          line-height: 15px;
        }

        ul > li:nth-child(2):before, ul > li:nth-child(3):before {
          position: relative;
          content: " ";
          display: inline-block;
          height: 2px;
          width: 100px;
          background: #e7e7e7;
          margin-left: -110px;
        }

        img {
          width: 140px;
        }
      }

      .active > div.how-it-work_content {
        padding: 4px 0;
        float: left;
        text-align: justify;

        p {
          font-size: 14px;
        }

        span {
          font-size: 24px;
          font-weight: 600;
        }
      }

      .active > div.stats-page {
        margin: 20px auto;
        width: 100%;

        .lnk-active, .lnk-active:active, .lnk-active:link, .lnk-active:visited {
          font-size: 16px;
          color: #fff;
          padding: 6px 30px;
          background: #2fcde7;
          border: 1px solid #2fcde7;
          border-radius: 3px 0 0 3px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .lnk-inactive, .lnk-inactive:active, .lnk-inactive:link .lnk-inactive:visited {
          font-size: 16px;
          color: #2fcde7;
          padding: 6px 20px;
          background: #fff;
          border: 1px solid #2fcde7;
          border-radius: 0 3px 3px 0;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        .sub-tab {
          margin: 10px auto;
          padding: 15px 0;
          width: 100%;

          div {
            display: none;
          }



          div.active, #daily.active > div, #daily.active > div > div {
            display: block !important;
          }
        }
      }
    }
  /// End affiliate sub-menu ///

  /// My account sub-menu ///
  .widget .tabdiv .tab-content {
    .widget {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      background: #fff;
      text-align: center;
    }

    .widget a {
      color: #222;
      text-decoration: none;
    }

    .widget a:hover {
      color: #12a8d6;
      text-decoration: underline;
    }

    .tabnav li.ui-tabs-selected a {
      border: none;
      background: none;
    }

    .tabnav li {
      width: 33%;
      display: inline;
      list-style: none;
      padding-right: 5px;
    }

    .tabnav li a {
      text-decoration: none;
      text-transform: capitalize;
      color: #222;
      padding: 7px 35px;
      outline: none;
      background: none;
      border: none;
    }

    .tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
      background: #fff;
      color: #2fcde7;
      text-decoration: none;
      border-bottom: 2px solid #2fcde7;
    }

    .tabdiv {
      margin-top: 2px;
      background: #fff;
     // border: 1px solid #dedbd1;
      padding: 5px;
    }

    .tabdiv li {
      margin-left: 20px;
    }

    .ui-tabs-hide {
      display: none;
    }

    #featuredvid {
      text-align: center;
    }

    .fvid {
      margin-bottom: 5px;
    }

    .vidselector li {
      text-align: left;
      list-style: none;
      padding: 5px;
      background: #ffffff;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  /// End my account sub-menu ///

  .tab-content .widget .tab-content {
    .rp-left-col {

      .rp-left_title {
        width: 70%;
        text-align: left;
        padding: 20px 0 25px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #3b3b3b;
        border-bottom: 1px solid #dedede;
      }

      .content-form {
        width: 70%;
        text-align: left;

        .form-label-desc, input {
          width: 100%;
        }

        .form-buttons {
          margin: 20px 0 30px;
        }
      }
    }

    .rp-right-col {
      margin: 5px auto;

      .rp-banner {
        width: 300px;
        height: 250px;
        background: #e5e5e5;
      }

      span {
        font-size: 22px;
        color: #9d9d9d;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        line-height: 250px;
      }
    }
  }
}