.header {
	.navbar-default {
		background: #fff !important;
		border-bottom: 0 !important;
		.navbar-header, .img-logo {
			font-family: "Open Sans", sans-serif !important;
		}
	}
}

.navbar-default {

	.navbar-header, .img-logo {
		font-family: Verdana, "Open Sans", sans-serif !important;
	}

	.header-buttons {
		position: relative;
		margin-top: 12px;

		li {
			padding-left: 6px;
		}

		.active, .default, .default:hover {
			font-size: 16px;
			color: #2fcde7;
			padding: 6px 20px;
			border: 1px solid #2fcde7;
			border-radius: 3px;
			text-align: center;
			text-transform: uppercase;
		}

		.default, .active:hover {
			background: #2fcde7;
			color: #fff;
			border: 1px solid #2fcde7;
		}
	}
}

.signin-buttons {
	.navbar-right {
		margin-right: 0 !important;
	}
}

.main-content, .my-acc-resetpass {
	margin-bottom: 80px;

	.content-title {
		margin: 10px auto;
		text-align: center;
		color: #383838;
		font-size: 15px;
		font-family: 'Open Sans', sans-serif;
		line-height: 17px;

		p:nth-child(1) {
			line-height: 24px;
			padding-bottom: 10px;
		}

		p:nth-child(2), p:nth-child(3) {
			line-height: 12px;

			a, a:link, a:visited {
				color: #222222;
				text-decoration: underline;
			}

			a:hover {
				color: #5e5e5e;
				text-decoration: none;
			}
		}

		.title-header {
			font-size: 24px;
		}
	}

	.content-form {
		width: 70%;

		.form-login {
			margin-top: 20px;

			.form-label {
				font-size: 28px;
				color: #2fcde7;
				margin: 10px 0;

				span {
					color: rgba(255, 0, 0, 0.64);
				}
			}

			.form-inputs {
				input {
					width: 75%;
					border-radius: 3px;
					padding: 12px 10px;
					border: 1px solid #cccccc;

					&::placeholder {
						color: #a4a4a4;
					}
				}
			}

			.form-label:nth-child(3) {
				margin-top: 35px;
			}

			.captcha {
				width: 45%;
			}

			.form-label-desc {
				margin: 5px 0 25px;
				font-size: 14px;
				color: #a4a4a4;
			}

			.form-label-desc {
				width: 75%;
				margin-top: 15px;
				line-height: 12px;

				.hint-text {
					padding-left: 10px;
				}

				span {
					display: inline-block;
				}

				.forgot-pass {
					a, a:active, a:link, a:visited {
						color: #2fcde7;
						text-decoration: none;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.form-buttons {
				padding-top: 20px;

				.cancel {
					color: #222222;
					background: #fff;
					font-size: 16px;
					font-family: "Open Sans", sans-serif;
					font-weight: 600;
					padding: 6px 35px;
					border: 1px solid #222222;
					border-radius: 3px;
					text-decoration: none;
					text-transform: capitalize;
					margin-right: 15px;
				}

				.cancel:hover {
					background: #484848;
					color: #fff;
					border: 1px solid #484848;
					text-decoration: none;
				}

				.signin {
					color: #fff;
					background: #2fcde7;
					padding: 6px 35px;
					font-size: 16px;
					font-family: "Open Sans", sans-serif;
					font-weight: 600;
					border: 1px solid #2fcde7;
					border-radius: 3px;
					text-decoration: none;
					text-transform: capitalize;
				}

				.signin:hover {
					background: #fff;
					color: #2fcde7;
					border: 1px solid #2fcde7;
					text-decoration: none;
				}
			}
		}
	}
}

.footer {
	background: #f3f3f3;
	padding: 25px 0;
	text-align: center;
	text-transform: uppercase;

	.foot-banner-sm {
		margin: 10px auto;
	}

	ul {
		list-style: none;

		li {
			display: inline-block;

			a, a:active, a:link, a:visited {
				font-size: 16px;
				color: #5e5e5e;
				padding: 5px 10px;
				text-decoration: none;
			}

			a:hover {
				color: #222222;
				text-decoration: none;
			}
		}
	}

	.foot-copyrights {
		color: #878787;
	}

	.foot-banner-sm {
		padding: 10px;
	}

	.chat-modal {
		position: absolute;
		padding: 10px 30px;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		border-radius: 5px 5px 0 0;
		background: #6FBD64;
		right: 1%;
		bottom: -130%;
		cursor: pointer;
		z-index: 10;

		span {
			position: absolute;
			font-size: 8px;
			padding: 3px 5px;
			top: -25%;
			right: -5%;
			background: #d46d69;
			color: #fff;
			border: 2px solid #fff;
			z-index: 99;
			border-radius: 50% !important
		}
	}
}