.tfa {
  text-align: left;
  color: #3b3b3b;

  .rp-left_title {
    border: 0 !important;
  }
  .rp-left_content {
    padding: 15px 0;
    color: #3b3b3b;
    line-height: 25px;
    i {
      font-size: 20px;
      padding-right: 15px;
    }
  }
  .rp-guide_box {
    text-align: left;
    padding: 30px 0 0;

    .guide-box_txt {
      line-height: 12px;
    }

    p:first-child span {
      padding: 15px 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      line-height: 35px;
    }
  }

  .guide_text {
    padding: 15px 0 0;
    color: #3b3b3b;

    span {
      padding-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }
  }

  .content-form {
    .input-group {
     input {
       height: auto;
       padding: 12px 10px !important;
     }
      button {
        height: auto;
        background: #00b3ee;
        color: #fff;
        //padding: 12px 30px;

        i {
          font-size: 25px;
          padding: 4px 20px;
          font-weight: 200 !important;
        }
      }
    }
  }
}