@import "mixin";

html {
    width: 100%;
    font-size: 16px;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background: #fff;
  overflow-x: hidden;
  min-height: 100vh !important;
}

img {
  max-width: 100%;
}

main {
  min-height: 100vh;
}

@media (max-width: 420px) {
  .navbar-default {
    .header-buttons {
      .active, .active:hover, .default, .default:hover {
        margin: 0 15px 10px !important;
      }
    }
  }
}

@import "vars";
@import "signin";
@import "error404";
@import "acc-security";
@import "faq";
@import "modal_lbox";
@import "resetpassword";
@import "2fa-disable";
@import "tfa";
@import "news";
@import "dice";
@import "dashboard";
@import "charts";