@import "mixin";

html {
    width: 100%;
    font-size: 16px;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background: #fff;
  overflow-x: hidden;
  min-height: 100vh !important;
}

img {
  max-width: 100%;
}

main {
  min-height: 100vh;
}

@media (max-width: 420px) {
  .navbar-default {
    .header-buttons {
      .active, .active:hover, .default, .default:hover {
        margin: 0 15px 10px !important;
      }
    }
  }
}

@media (max-width: 1260px) {
  .tfa-dis .rp-info_text .bot_text {
    width: 70%;
  }
  .my-acc-resetpass .tabdiv li {
    margin-left: 0 !important;
  }
  .tfa-dis .rp-info_text {
    padding-left: 25px !important;
    line-height: 18px !important;
  }
  .my-acc-resetpass .widget div.tab-content .balances--main__box .market-main-content table > tbody td button.balance-btn-drwl {
    padding: 6px 11px !important;
  }
  .my-acc-resetpass .widget div.tab-content .balances--main__box .market-main-content table > tbody td button.balance-btn-stu {
    padding: 6px !important;
  }
  .my-acc-resetpass .widget div.tab-content .balances--main__box .balances--header .balances--header-right a,
  .my-acc-resetpass .widget div.tab-content .balances--main__box .balances--header .balances--header-right a:active,
  .my-acc-resetpass .widget div.tab-content .balances--main__box .balances--header .balances--header-right a:visited,
  .my-acc-resetpass .widget div.tab-content .balances--main__box .balances--header .balances--header-right a:link {
    padding: 6px 14px !important;
  }
  .section--header .slider--container .coin--slider .coin--slider--inner {
    width: 100% !important;
  }
  .section--header .slider--container .coin--slider {
    //height: 340px !important;
  }
}

@import "vars";
@import "signin";
@import "error404";
@import "acc-security";
@import "faq";
@import "modal_lbox";
@import "resetpassword";
@import "2fa-disable";
@import "tfa";
@import "news";
@import "dice";
@import "dashboard";
@import "charts";
@import "homepage";