.faq-content {
  margin: auto auto 40px; }
  .faq-content .p-desc-title {
    padding: 15px 0;
    text-align: center; }
    .faq-content .p-desc-title span {
      font-family: "Open Sans", sans-serif;
      font-size: 22px;
      font-weight: 500; }
  .faq-content .main-box {
    width: 85%;
    padding: 20px 20px; }
    .faq-content .main-box .p-title {
      font-size: 28px;
      color: #00b3ee;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      padding: 5px 0 15px; }
    .faq-content .main-box .p-text {
      font-size: 15px;
      color: #3b3b3b;
      padding: 5px 0; }
      .faq-content .main-box .p-text a, .faq-content .main-box .p-text a:visited {
        color: #00b3ee;
        text-decoration: none; }
      .faq-content .main-box .p-text a:hover {
        color: #3b3b3b;
        text-decoration: underline; }
    .faq-content .main-box .center-text {
      line-height: 15px; }
      .faq-content .main-box .center-text span {
        color: #00c700; }
    .faq-content .main-box .p-first {
      margin: 10px 0; }
    .faq-content .main-box .p-second {
      margin: 50px 0; }
    .faq-content .main-box .p-third {
      margin: 20px 0 40px; }
